
fieldset{
    width:50%;
    border-radius: 5px;
    min-width: 425px;
}

.container{
    display:flex;
    flex-direction: row;
    min-width: 425px;
}
.LeftSide{
padding-left: 1% ;
} 
.textinputs{
padding-left: 2%;
}  
.RightSide{
padding-left: 2%;
}

.FeedbackFormatting{
    width:30%;
    
    float:left;
}

